.default {
	&__title {
		@include general-title;
		color: $cor-primaria;
		&.smaller {
			font-size: 32px;
		}
		@include media(s) {
			text-align: center;
		}
	}
	&__desc {
		@include text;
	}
}
.small__ref {
	@include text;
	font-size: 12px;
	color: $neutro-700;
}

.header {
	padding: 17px 0px;
	&__container {
		@include container;
		@include media(s) {
			padding: 0 24px;
		}
		.button {
			&:hover {
				color: $neutro-50;
			}
		}
	}
	.navbar-nav {
		gap: 32px;
	}
	.navbar {
		padding: 0;
		.container-fluid {
			padding: 0;
		}
		.navbar-toggler {
			padding: 0px;
			outline: none;
			appearance: none;
			&:focus {
				border: none;
				outline: none;
				box-shadow: none;
			}
		}
		.navbar-toggler-icon {
			img {
				width: 32px;
				height: 32px;
			}
		}
	}
	.nav-link {
		color: $cor-primaria;
		text-transform: uppercase;
		font-weight: bold;
		text-decoration: none;
	}
}
.hero {
	background-color: $cor-primaria;
	position: relative;
	&::after {
		content: url("../assets/avioes.png");
		position: absolute;
		right: 0;
		top: 50px;
	}
	&__container {
		display: flex;
		padding: 80px 0px;
		justify-content: center;
		@include container;
		gap: 64px;
		color: $neutro-50;
		@include media(s) {
			flex-direction: column;
			padding: 20 24px 60px;
		}
	}
	&__form {
		padding: 64px;
		background-color: $neutro-50;
		@include l-border;
		.default__title {
			margin-bottom: 32px;
		}
		.contact__form {
			padding: 0px;
			border-radius: 0px;
		}
		.input_wrap {
			width: 100%;
			input {
				width: 100%;
				max-width: 100%;
			}
		}
		button {
			display: block;
			width: 100%;
		}
	}
	&__logo {
		margin-bottom: 32px;
		display: flex;
		justify-content: start;
		align-items: center;
		@include media(s) {
			margin-bottom: 24px;
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}
	&__img {
		max-width: 503px;
		height: auto;
		@include media(s) {
			display: none;
		}
		img {
			max-width: 100%;
			height: auto;
			object-fit: cover;
			position: relative;
			z-index: 9999;
			@include l-border;
		}
	}
	&__content {
		max-width: 600px;
		padding-top: 32px;
		.button--container {
			display: flex;
			gap: 16px;
			@include media(s) {
				gap: 8px;
			}
		}
		.button.no-color {
			color: $neutro-50;
		}
	}
	&__title {
		@include hero;
		text-transform: uppercase;
		margin-bottom: 24px;
	}
	&__sub-title {
		font-family: "Inter", sans-serif;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 150%;
		max-width: 511px;
		margin-bottom: 24px;
	}
	.default__desc {
		max-width: 487px;
		margin-bottom: 32px;
	}
}
.resources {
	padding: 80px 0px;
	@include media(s) {
		padding: 60px 0px;
	}
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		@include media(s) {
			padding: 0 24px;
		}
	}
	&__title {
		@include text;
		font-weight: bold;
		color: $texto-resources;
		margin-bottom: 32px;
	}
	.default__title {
		color: $cor-primaria;
		max-width: 1040px;
		margin: 24px auto;
		text-align: center;
		@include media(s) {
			text-align: left;
		}
	}
	.default__bigger-desc {
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		max-width: 789px;
		margin: 0 auto 48px;
		line-height: 150%;
		text-align: center;
		@include media(s) {
			text-align: left;
		}
	}
	.default__desc {
		color: $texto-legenda;
		margin: 0px auto 24px;
		text-align: left;
	}
	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 24px;
		flex-wrap: wrap;
		@include container;
		margin-bottom: 48px;
	}
}
.benefits {
	background-color: $cor-primaria-clara;
	padding: 80px 0px;
	@include media(s) {
		padding: 60px 24px;
	}
	&__container {
		@include container;
		display: flex;
		justify-content: space-between;
		@include media(s) {
			flex-direction: column;
		}
	}
	&__side {
		max-width: 503px;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 8px;
		@include media(s) {
			display: none;
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: 24px;
		ul {
			padding: 0;
			margin: 0;
			margin-left: 20px;
			li {
				@include text;
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%;
				color: #5c5c5c;
			}
		}
		@include media(s) {
			flex-direction: column;
			align-items: start;
			justify-content: start;
			display: flex;
		}
	}
	&__title {
		@include general-title-smaller;
		color: $cor-primaria;
	}
	.default__title {
		text-align: center;
		@include container;
		font-size: 39px;
		margin-bottom: 48px;
		@include media(s) {
			text-align: left;
		}
	}
	.default__desc {
		color: $neutro-700;
		max-width: 588px;
		b {
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
		}
		@include media(s) {
			text-align: left;
		}
	}

	&__card {
		background: linear-gradient(92deg, #9747ff 0%, #5218af 100%);
		padding: 32px;
		display: flex;
		gap: 16px;
		color: $neutro-50;
		@include l-shadow;
		@include s-border;
		&--title {
			@include general-title-smaller;
		}
		&--desc {
			@include text;
		}
	}
}

.politics {
	background-color: #5218af;
	padding: 80px 0px;
	@include media(s) {
		padding: 60px 0px;
	}
	&__container {
		@include container;
		color: $neutro-50;
		@include media(s) {
			padding: 0px 24px;
		}
		.button--container {
			text-align: center;
		}
	}
	.default__title {
		color: $neutro-50;
		text-align: center;
		margin-bottom: 24px;
		max-width: 770px;
		margin: 0 auto;
		@include media(s) {
			text-align: left;
		}
	}
	.default__desc {
		text-align: center;
		margin-bottom: 32px;
		@include media(s) {
			text-align: left;
		}
	}
	&__content {
		display: flex;
		justify-content: center;
		gap: 24px;
		margin: 48px auto;
		@include media(s) {
			overflow: auto;
			justify-content: start;
		}
	}
	&__card {
		padding: 16px;
		max-width: 260px;
		width: 100%;
		flex-shrink: 0;
		background-color: $neutro-50;
		border: 1px solid $neutro-50;
		@include s-shadow;
		@include s-border;
		display: flex;
		flex-direction: column;
		img {
			@include s-border;
			display: block;
			margin-bottom: 24px;
		}
		&--title {
			@include text;
			font-weight: bold;
			color: $cor-primaria;
			text-align: center;
			margin-bottom: 8px;
		}
		.default__desc {
			text-align: center;
			margin: 0;
			font-size: 12px;

			color: $texto-legenda;
			margin-bottom: auto;
		}
	}
}

.contact {
	background-color: $cor-primaria;
	padding: 80px 0px;
	@include media(s) {
		padding: 60px 0px;
	}
	&__container {
		@include container;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		@include media(s) {
			padding: 0 24px;
		}
		.default__title {
			color: $neutro-50;
			text-align: center;
			margin: 24px 0px;
		}
		.default__desc {
			color: $neutro-50;
			text-align: center;
			margin-bottom: 64px;
			max-width: 1030px;
			@include media(s) {
				margin-bottom: 40px;
			}
		}
		.tag {
			background-color: rgba(255, 255, 255, 0.16);
			&__text {
				color: $neutro-50;
			}
		}
	}
	&__form {
		width: 100%;
		display: flex;
		gap: 16px;
		background-color: #fff;
		padding: 64px;
		flex-wrap: wrap;
		@include media(s) {
			padding: 32px;
		}
		.form-gap {
			flex-wrap: wrap;
			.input_wrap {
				@include media(s) {
					width: 100%;
				}
				input {
					@include media(s) {
						width: 100%;
						flex-shrink: 0;
					}
				}
			}
		}
		@include l-border;
		input {
			max-width: 300px;
		}
		.button {
			border: none;
			@include media(s) {
				width: 100%;
			}
		}
	}
}

.faq {
	padding: 80px 0px;
	&__container {
		@include container;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 24px;
		@include media(s) {
			flex-direction: column;
			padding: 0px 24px;
			align-items: center;
			justify-content: center;
			gap: 48px;
		}
	}
	&__side {
		max-width: 576px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include media(s) {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			text-align: center;
		}
		.default__title {
			margin: 24px 0px;
		}
		.default__desc {
			margin-bottom: 83px;
			@include media(s) {
				margin-bottom: 40px;
			}
		}
	}
	&__content {
		@include container;
		width: 100%;
		.accordion {
			display: flex;
			flex-wrap: wrap;
			gap: 16px;
			&-item {
				border: none;
				flex-shrink: 0;
				max-width: 612px;
				width: 100%;
				border: none;
				&:last-child {
					margin-bottom: 0px;
				}
			}
			&-body {
				@include text;
				background-color: #f0f0f0;
				border-radius: 0px 0px 8px 8px;
				padding: 24px;
			}
			&-button {
				color: $texto-resources;
				border: none;
				background-color: #f0f0f0;
				padding: 24px;
				@include text;
				color: $texto-resources;
				&:focus {
					border: none;
					box-shadow: none;
				}
				&:not(.collapsed) {
					color: $cor-primaria;
					font-weight: bold;
					background-color: #f0f0f0;
					border-radius: 8px 8px 0px 0px;
					border: none;
				}
				&.collapsed {
					@include s-border;
				}
				&::after {
					width: 10px;
					height: 6px;
					background-image: url("../assets/seta.svg");
					background-size: unset;
				}
			}
		}
	}
}

.footer {
	background-color: $cor-primaria;
	padding: 48px 0px;
	color: $neutro-50;
	&__container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		gap: 16px;
		padding: 0px 24px;
		@include media(s) {
			align-items: center;
			justify-content: center;
			text-align: center;
		}
		a {
			@include text;
			color: $neutro-50;
			text-decoration: none;
			transition: all 0.2s ease;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__links {
		display: flex;
		gap: 40px;
	}
	&__logo {
		width: 100%;
		text-align: center;
		margin-bottom: 24px;
		img {
			max-width: 100%;
			height: auto;
		}
	}
}
