<section class="contact">
	<div class="contact__container">
		<h3 class="default__title">Seu lugar no Marketplace da VibX já está garantido…</h3>
		<p class="default__desc">
			Só falta você se cadastrar para começar a utilizar o melhor bot de gerenciamento de grupos do Telegram. Além de alcançar mais público por meio do
			marketplace da VibX. Vamos?
		</p>
		<form action="" class="contact__form">
			<div class="form-gap">
				<div class="input_wrap">
					<input type="text" required />
					<label><img src="./assets/person.svg" alt="" /> Nome</label>
				</div>
				<div class="input_wrap">
					<input type="email" required />
					<label><img src="./assets/mail.svg" alt="" /> E-mail</label>
				</div>
				<div class="input_wrap">
					<input type="tel" required />
					<label><img src="./assets/phone.svg" alt="" /> Telefone</label>
				</div>
			</div>
			<button type="submit" class="button">quero entrar</button>
		</form>
	</div>
</section>
