<section class="faq" id="faq">
	<div class="faq__container">
		<div class="faq__side">
			<div class="tag">
				<p class="tag__text">FAQ</p>
			</div>
			<h3 class="default__title">Perguntas mais frequentes</h3>
		</div>
		<div class="faq__content">
			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
							aria-expanded="true" aria-controls="collapseOne">
							Quem é a VibX
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							A VibX é uma empresa que faz o gerenciamento de comunidades VIP e vendas de conteúdos avulsos pelo
							Telegram. Estamos há anos no mercado ajudando
							criadores de conteúdo digital a administrar seus ganhos com seus produtos.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingTwo">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Como funciona o marketplace?
						</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							O marketplace é uma vitrine de produtos que temos atualmente cadastrada na VibX. Por meio dela, o cliente
							consegue visualizar todas as comunidades
							VIP para facilitar a assinatura. É possível <a href="https://marketplace.vibx.com.br/"
								target="_blank">acessá-la por aqui</a>.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingThree">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							Qualquer pessoa pode entrar?
						</button>
					</h2>
					<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">Qualquer pessoa acima de 18 anos pode começar a vender com a VibX.</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingFour">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
							Preciso pagar alguma coisa?
						</button>
					</h2>
					<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Atualmente, temos o plano gratuito, em que você não precisa investir valor algum. É apenas descontada a
							taxa VIb de 8% + R$1 por venda.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingFive">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
							Já tenho um grupo VIP, posso migrar para a VibX?
						</button>
					</h2>
					<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Quando você faz um cadastro na VibX, cria um grupo VIP para ativar seu bot. Mas, se você tiver um canal
							existente, é possível colocar o bot para
							fazer a gestão desse canal. É só entrar em contato com @suportevib no Telegram para mais informações.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingSix">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
							Eu preciso de um site ou página de vendas?
						</button>
					</h2>
					<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Você não precisa ter um site ou página de vendas para utilizar a plataforma. A venda é realizada dentro do
							próprio Telegram com o nosso próprio
							checkout.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingSeven">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
							Preciso solicitar saque? Quando receberei minha comissão?
						</button>
					</h2>
					<div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Não precisa, os saques são feitos de forma automática todos os dias. Os horários de pagamento são sempre
							entre 09h e 10h. Nas vendas via PIX e
							Cripto, você recebe sempre no próximo pagamento. Por exemplo, comprando hoje às 12h, você recebe amanhã.
							Ou, comprando hoje antes das 09h, você
							recebe no mesmo dia. Clientes que compram via cartão, PicPay e Mercado Pago, são 30 dias para você
							receber.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingEight">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
							Consigo antecipar o recebimento de vendas pelo cartão?
						</button>
					</h2>
					<div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Consegue. Temos esses prazos de antecipação com cada taxa: <br /><br />- Liberação em 2 dias: 2,65% <br />
							- Liberação em 10 dias: 2,45% <br />
							- Liberação em 15 dias: 2,35%<br />- Liberação em 20 dias: 2,25% <br /><br />Caso tenha interesse, só
							chamar o @suportevib no Telegram, para ver
							se seu perfil está apto.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingNine">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
							Tem recompensas caso eu indique alguém para VibX?
						</button>
					</h2>
					<div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Sim, e você recebe 10% de todo lucro que VibX tiver sobre essa pessoa indicada. É importante lembrar que a
							pessoa precisa ter concluído o
							cadastro, para que a gente consiga cadastrar sua indicação. O processo é bem tranquilo: só chamar o
							@suportevib no Telegram e falar quem é a
							indicação. Você também pode pedir à pessoa indicada para nos chamar e falar que é indicação sua.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingTen">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
							Posso cadastrar coprodutores ou afiliados na VibX?
						</button>
					</h2>
					<div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Sim. A coprodução seria a responsável por dividir a porcentagem do lucro por todas as vendas no bot. Já o
							afiliado é para dividir o lucro por
							venda que ele faz pelo link. <br /><br />A coprodução é cadastrada pelo link
							<a href="https://app.vibx.com.br/" target="_blank">https://app.vibx.com.br/</a>. É preciso logar na conta,
							ir até a lateral esquerda e procurar
							“produtos” > Selecionar o seu produto > Ir até a parte de “coproduções” > Adicionar.
							<br />
							Agora, para cadastrar afiliados, é só ir no chat do seu bot criado com VibX (direto no Telegram) e digitar
							no chat > /afiliacoes.
							<br /><br />
							IMPORTANTE: A pessoa coprodutora ou afiliada precisa ter cadastro no seu bot. Antes de fazer qualquer
							processo, ela vai precisar entrar em contato
							com seu bot via Telegram e fornecer os dados de cadastro (não precisa finalizar a compra).
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingEleven">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
							A VibX aceita pagamentos internacionais?
						</button>
					</h2>
					<div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Sim. Ele é feito através do cartão de crédito. Hoje, temos mais de 16 moedas internacionais disponíveis
							como método de pagamento, entre elas:
							<br /><br />
							- Dólar (USD)<br />
							- Euro (EUR)<br />
							- Libras Esterlinas (GBP)<br />
							- Lenas (JPY)<br />
							- Dirham dos EAU (AED)<br />
							- Franco Suiço (CHF)<br />
							- Dólar Australiano (AUD)<br />
							- Dólar Canadense (CAD)<br />
							- Renminbi (RMB)<br />
							- Peso Argentino (ARS)<br />
							- Lira Turca (TRY)<br />
							- Peso Uruguaio (UYU)<br />
							- Peso Colombiano (COP)<br />
							- Peso Chileno (CLP)<br />
							- Peso Mexicano (MXN)<br />
							- Sol Peruano (PEN)<br />
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingTwelve">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
							É possível fazer integração com plataformas de pagamento? Quais plataformas posso cadastrar?
						</button>
					</h2>
					<div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							É possível. Se você tem um produto cadastrado nas plataformas Hotmart, Eduzz, Monetizze e Kiwify,
							conseguimos realizar a integração com a VibX.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingThirteen">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
							Posso cadastrar quantos bots pela VibX?
						</button>
					</h2>
					<div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Quantos quiser, não temos limite para criação de bot. Para criar novos é bem tranquilo: só logar na nossa
							plataforma (<a href="https://app.vibx.com.br" target="_blank">https://app.vibx.com.br</a>
							) e, depois, ir na lateral esquerda, acessar a parte de produtos e clicar em “adicionar” para criar um
							novo.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingFourteen">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
							É possível direcionar um bot para mais de um canal? Como?
						</button>
					</h2>
					<div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">Sim. Você consegue colocar até 10 grupos adicionais vinculados ao seu bot.</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingFifteen">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
							Como funciona para o cliente?
						</button>
					</h2>
					<div id="collapseFifteen" class="accordion-collapse collapse" aria-labelledby="headingFifteen"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Assim que o cliente compra a assinatura do seu canal, ele recebe o botão de acesso para seu grupo
							principal e todos os adicionais. Então, as
							vendas não são separadas, o cliente recebe tudo de uma vez.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingSixteen">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
							Como implementar?
						</button>
					</h2>
					<div id="collapseSixteen" class="accordion-collapse collapse" aria-labelledby="headingSixteen"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							É só colocar seu bot criado com VibX em todos os grupos adicionais como ADM (com todas as permissões de
							administrador). Após fazer esse processo,
							chame o @suportevib no Telegram para fazer a ativação.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>